<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
    <link rel="stylesheet" href="/css/events.css" />
    <link rel="stylesheet" href="/css/about.css" />
  </head>
  <body>
    <img class="klogo" src="/images/logo2.png" alt="" />
    <div class="desktop" id="desktop">
      <img
        src="/images/bg2.png"
        class="background-desktop"
        loading="lazy"
        alt=""
        srcset=""
      />

      <div class="nav">
        <a href="" class="play" id="home">
          <img src="/images/Home.svg" class="home" alt="" />
        </a>
        <a href="" id="events" class="play"
          ><img src="/images/Events.svg" class="events" alt=""
        /></a>
        <a href="" id="artists" class="play"
          ><img src="/images/Artists.svg" class="artist" alt=""
        /></a>
        <a href="" id="sponsors" class="play"
          ><img src="/images/Sponsors.svg" class="sponsors" alt=""
        /></a>
        <a href="" id="gallery" class="play"
          ><img src="/images/Gallery.svg" class="gallery" alt=""
        /></a>
        <a href="" id="aboutus" class="play"
          ><img src="/images/AboutUs.svg" class="about" alt=""
        /></a>
      </div>
      <audio id="audio">
        <source src="/audio/click.wav" type="audio/mpeg" />
      </audio>
      <div class="container2">
        <div class="gifdiv">
          <img src="/images/loader1.gif" alt="" srcset="" />
        </div>
        <div class="contentaboutus">
          Welcome to Kaalrav 2024, Sikkim Manipal Institute of Technology's
          largest cultural extravaganza! Join us on March 29th-31st for three
          days of vibrant music, dance, comedy, and creativity. Featuring
          electrifying performances by renowned artists like Mantra, M Sonic,
          and Rajat Chauhan, alongside thrilling competitions for vocalists,
          dancers, gamers, and more. Don't miss your chance to shine on our
          grand stage and experience the ultimate celebration of talent and
          expression. Stay tuned for more updates!
        </div>
      </div>
    </div>
    <div class="mobile">
      <img id="art-text" src="/images/AboutUs.svg" alt="" />
      <img class="toggle" src="/images/toggle.svg" alt="" />
      <div class="mobile-nav">
        <div class="border">
          <p class="close">X</p>
          <a href="/home">HOME</a>
          <a href="/events">EVENTS</a>
          <a href="/artists">ARTISTS</a>
          <a href="/sponsors">SPONSORS</a>
          <a href="/gallery">GALLERY</a>
          <a href="/aboutus">ABOUT US</a>
        </div>
      </div>
      <img
        src="/images/mobile_bg.png"
        class="background-mobile"
        loading="lazy"
        alt=""
        srcset=""
      />
    </div>
  </body>
  <script src="/javascript/home1.js"></script>
</html>
