<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kaalrav 2024</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div class="desktop">
        <img src="/images/kaalrav-desktop.png" alt="">
    </div>
    <div class="mobile">
        <img src="/images/kaalrav-mobile.png" alt="">
    </div>
</body>
</html>